/* Desktop layout */
.header {
  width: 100%;
  background: #a39c6c;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* Hide hamburger on desktop */
.hamburger {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* ------------------- */
/* MOBILE RESPONSIVE   */
/* ------------------- */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 37px;
    right: 0;
    background: #333;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  /* When menuOpen = true */
  .nav-links.mobile-open {
    display: flex;
    z-index: 1000
  }

  .nav-links li {
    margin: 10px 0;
  }
}
