.statistics-home {
    display: inline-flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    gap: 5rem; /* spacing between boxes */
}


.statistics-home .stats {
  background: #e6e6e6; /* optional: make boxes visible */
  padding: 1rem;
  border-radius: 8px;
  min-width: 200px;
  text-align: center;
}

.statistics-home ul {
  list-style: none; /* remove bullet points */
  padding: 0;
  margin: 0;
}

.statistics-home li {
  margin: 0.3rem 0;
}

.buttons-home {
    padding: 20px;
}

/* buttons */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #a7a7a7;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: black;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
